In [2]:
# Reading an excel file using Python
import numpy as np
import pandas as pd
import json

### final dataset shape 
df_names = ["year", "month", "city", "district", "price_riyals", "area_m2", "no_deals", "status", "realstate_cls", "realstate_type"]

## Makkah al-Mukarramah

In [3]:
# read excel file
df = pd.read_excel("data/xlsx/all.xlsx")

In [4]:
# check the size of new data
df.shape

(41256, 10)

In [5]:
# check for first five rows
df.head()

,year,month,city,district,price_riyals,area_m2,no_deals,status,realstate_cls,realstate_type
0,2018,مايو,الدمام,حي/1048/ ش د,1055000,2871.08,1,معتمدة,NaN,NaN
1,2018,يناير,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,NaN,NaN
2,2018,مارس,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,NaN,NaN
3,2018,مايو,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,NaN,NaN
4,2018,يونيو,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,NaN,NaN

In [6]:
# current statistics of data 
df.describe(include="all")

,year,month,city,district,price_riyals,area_m2,no_deals,status,realstate_cls,realstate_type
count,41256.000000,41256,41256,40404,4.125600e+04,4.125600e+04,41256.000000,41256,804,660
unique,NaN,12,5,1659,NaN,NaN,NaN,1,3,10
top,NaN,فبراير,مكة المكرمة,حي/الفيحاء,NaN,NaN,NaN,معتمدة,سكني,قطعة أرض
freq,NaN,3800,19496,192,NaN,NaN,NaN,41256,376,144
mean,2019.500000,NaN,NaN,NaN,1.039169e+07,1.316392e+04,10.487808,NaN,NaN,NaN
std,1.118048,NaN,NaN,NaN,5.559905e+07,1.481333e+05,57.155130,NaN,NaN,NaN
min,2018.000000,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000,NaN,NaN,NaN
25%,2018.750000,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000,NaN,NaN,NaN
50%,2019.500000,NaN,NaN,NaN,2.800000e+05,2.512350e+02,1.000000,NaN,NaN,NaN
75%,2020.250000,NaN,NaN,NaN,3.452188e+06,2.237617e+03,4.000000,NaN,NaN,NaN
max,2021.000000,NaN,NaN,NaN,3.000000e+09,1.361769e+07,1636.000000,NaN,NaN,NaN

In [7]:
# current datatype of data 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41256 entries, 0 to 41255
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            41256 non-null  int64
 1   month           41256 non-null  object
 2   city            41256 non-null  object
 3   district        40404 non-null  object
 4   price_riyals    41256 non-null  int64
 5   area_m2         41256 non-null  float64
 6   no_deals        41256 non-null  int64
 7   status          41256 non-null  object
 8   realstate_cls   804 non-null    object
 9   realstate_type  660 non-null    object
dtypes: float64(1), int64(3), object(6)
memory usage: 3.1+ MB

### Replace month name from arabic to number
list_month = [1, 'January', 31,
              2, 'February', 28,
              3,'March',31,
              4,'April',30,
              5,'May',31,
              6,'June',30,
              7,'July',31,
              8,'August',31,
              9,'September',30,
              10,'October',31,
              11,'November',30,
              12,'December',31]

In [8]:
# list of arabic months
months_names = [
    'يناير',
    'فبراير',
    'مارس',
    'ابريل',
    'مايو',
    'يونيو',
    'يوليو',
    'اوغسطس',
    'سبتمبر',
    'اكتوبر',
    'نوفمبر',
    'ديسمبر'
]

In [9]:
# set counter to 1
i = 1
df_fill = df
df_fill['month_order'] = df.month

In [10]:
df_fill.head()

,year,month,city,district,price_riyals,area_m2,no_deals,status,realstate_cls,realstate_type,month_order
0,2018,مايو,الدمام,حي/1048/ ش د,1055000,2871.08,1,معتمدة,NaN,NaN,مايو
1,2018,يناير,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,NaN,NaN,يناير
2,2018,مارس,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,NaN,NaN,مارس
3,2018,مايو,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,NaN,NaN,مايو
4,2018,يونيو,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,NaN,NaN,يونيو

In [12]:
# loop for each month and create a new column month_order to corresponding month order
for month in months_names: 
    if i > 12: break 
    #if (df_fill.month_order[df_fill.month_order == month] != None):
    df_fill.month_order[df_fill.month_order == month] = i       
    i = i + 1

<ipython-input-12-e3a1a9d115b5>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fill.month_order[df_fill.month_order == month] = i

In [13]:
#check for result
df_fill.month_order.unique()

array([5, 1, 3, 6, 7, 8, 9, 10, 12, 2, 4, 11], dtype=object)

In [14]:
df_fill.head()

,year,month,city,district,price_riyals,area_m2,no_deals,status,realstate_cls,realstate_type,month_order
0,2018,مايو,الدمام,حي/1048/ ش د,1055000,2871.08,1,معتمدة,NaN,NaN,5
1,2018,يناير,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,NaN,NaN,1
2,2018,مارس,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,NaN,NaN,3
3,2018,مايو,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,NaN,NaN,5
4,2018,يونيو,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,NaN,NaN,6

In [15]:
df_fill.sort_values(
    by=['realstate_cls', 'realstate_type','city', 'district', 'year', 'month_order'], 
    axis=0, 
    ascending=True, 
    inplace=True, 
    kind='quicksort', 
    na_position='last', 
    ignore_index=True, 
    key=None
)

In [16]:
df_fill = df_fill.replace(0, np.nan)

In [17]:
# current datatype of data 
df_fill.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41256 entries, 0 to 41255
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            41256 non-null  int64
 1   month           41256 non-null  object
 2   city            41256 non-null  object
 3   district        40404 non-null  object
 4   price_riyals    22371 non-null  float64
 5   area_m2         22371 non-null  float64
 6   no_deals        22371 non-null  float64
 7   status          41256 non-null  object
 8   realstate_cls   804 non-null    object
 9   realstate_type  660 non-null    object
 10  month_order     41256 non-null  object
dtypes: float64(3), int64(1), object(7)
memory usage: 3.5+ MB

In [ ]:
df_fill.to_excel(excel_writer = "m.xlsx", sheet_name='all', index=False)

In [18]:
unique_district = df_fill.district.unique()
len(unique_district)

1660

### Fill empty with Mean

In [20]:
for district in unique_district: 
    df_u = df_fill[(df_fill.district == district)]
    unique_year = df_u.year.unique()
    for year in unique_year: 
        price_fill = df_u.price_riyals[(df_u.year == year)].mean(skipna=True) 
        df_u.price_riyals[(df_u.year == year)].fillna(value = price_fill, method=None, inplace=True)
        #print(district, year, price_fill)
        area_fill = df_u.area_m2[(df_u.year == year)].mean(skipna=True) 
        df_u.area_m2[(df_u.year == year)].fillna(value = area_fill, method=None, inplace=True)
        #print(district, year, area_fill)
        no_deals_fill = df_u.no_deals[(df_u.year == year)].mean(skipna=True) 
        df_u.area_m2[(df_u.year == year)].fillna(value = no_deals_fill, method=None, inplace=True)
        #print(district, year, no_deals_fill)
    df_fill[(df_fill.district == district)] = df_u

In [ ]:
df_fill

In [ ]:
df_fill.info()

In [ ]:
.replace(0,df['a'].mean())

In [ ]:
.mean(skipna=True)

In [ ]:
df_g = df.groupby(by=['realstate_cls', 'realstate_type'])

In [ ]:
df_fill

## Saving the cleaning data in other format:
#### Complete information with missing values

In [ ]:
# 1- saving complete dataset with missing values as excel file
df.to_excel(excel_writer = "data/xlsx/all.xlsx", sheet_name='all', index=False)

In [ ]:
# 2- saving complete dataset with missing values as csv file
df.to_csv("data/csv/all.csv", header=True, index=False, encoding='utf_8_sig')

In [ ]:
# 3- saving complete dataset with missing values as json file
with open("data/json/all.json", "w") as write_file:
    json.dump(
        df.to_json(
            orient='records', 
            double_precision=10, 
            force_ascii=False, 
            lines=True, 
            compression='infer', 
            index=True, 
            indent=4), 
        write_file
    )

## Saving the cleaning data in other format:
#### Information with no missing values

In [ ]:
# 1- saving dataset with no missing values as excel file
df_m.to_excel(excel_writer = "data/xlsx/all_m.xlsx", sheet_name='all', index=False)

In [ ]:
# 2- saving dataset with no missing values as csv file
df_m.to_csv("data/csv/all_m.csv", header=True, index=False, encoding='utf_8_sig')

In [ ]:
# 3- saving dataset with no missing values as json file
with open("data/json/all_m.json", "w") as write_file:
    json.dump(
        df_m.to_json(
            orient='records', 
            double_precision=10, 
            force_ascii=False, 
            lines=True, 
            compression='infer', 
            index=True, 
            indent=4), 
        write_file
    )