In [1]:
# Reading an excel file using Python
import numpy as np
import pandas as pd
import json

In [2]:
pd.options.mode.chained_assignment = None  # default='warn'

### final dataset shape 
df_names = ["year", "month", "city", "district", "price_riyals", "area_m2", "no_deals", "status", "realstate_cls", "realstate_type"]

In [3]:
# read excel file
df = pd.read_excel("data/xlsx/all.xlsx")

In [4]:
# check the size of new data
df.shape

(41256, 10)

In [5]:
# check for first five rows
df.head()

,year,month,city,district,price_riyals,area_m2,no_deals,status,realstate_cls,realstate_type
0,2018,مايو,الدمام,حي/1048/ ش د,1055000,2871.08,1,معتمدة,NaN,NaN
1,2018,يناير,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,NaN,NaN
2,2018,مارس,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,NaN,NaN
3,2018,مايو,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,NaN,NaN
4,2018,يونيو,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,NaN,NaN

In [6]:
# current statistics of data 
df.describe(include="all")

,year,month,city,district,price_riyals,area_m2,no_deals,status,realstate_cls,realstate_type
count,41256.000000,41256,41256,40404,4.125600e+04,4.125600e+04,41256.000000,41256,804,660
unique,NaN,12,5,1659,NaN,NaN,NaN,1,3,10
top,NaN,فبراير,مكة المكرمة,حي/الحمراء,NaN,NaN,NaN,معتمدة,سكني,قطعة أرض
freq,NaN,3800,19496,192,NaN,NaN,NaN,41256,376,144
mean,2019.500000,NaN,NaN,NaN,1.039169e+07,1.316392e+04,10.487808,NaN,NaN,NaN
std,1.118048,NaN,NaN,NaN,5.559905e+07,1.481333e+05,57.155130,NaN,NaN,NaN
min,2018.000000,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000,NaN,NaN,NaN
25%,2018.750000,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000,NaN,NaN,NaN
50%,2019.500000,NaN,NaN,NaN,2.800000e+05,2.512350e+02,1.000000,NaN,NaN,NaN
75%,2020.250000,NaN,NaN,NaN,3.452188e+06,2.237617e+03,4.000000,NaN,NaN,NaN
max,2021.000000,NaN,NaN,NaN,3.000000e+09,1.361769e+07,1636.000000,NaN,NaN,NaN

In [7]:
# current datatype of data 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41256 entries, 0 to 41255
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            41256 non-null  int64
 1   month           41256 non-null  object
 2   city            41256 non-null  object
 3   district        40404 non-null  object
 4   price_riyals    41256 non-null  int64
 5   area_m2         41256 non-null  float64
 6   no_deals        41256 non-null  int64
 7   status          41256 non-null  object
 8   realstate_cls   804 non-null    object
 9   realstate_type  660 non-null    object
dtypes: float64(1), int64(3), object(6)
memory usage: 3.1+ MB

### Replace month name from arabic to number
list_month = [1, 'January', 31,
              2, 'February', 28,
              3,'March',31,
              4,'April',30,
              5,'May',31,
              6,'June',30,
              7,'July',31,
              8,'August',31,
              9,'September',30,
              10,'October',31,
              11,'November',30,
              12,'December',31]

In [8]:
# list of arabic months
months_names = [
    'يناير',
    'فبراير',
    'مارس',
    'ابريل',
    'مايو',
    'يونيو',
    'يوليو',
    'اوغسطس',
    'سبتمبر',
    'اكتوبر',
    'نوفمبر',
    'ديسمبر'
]

In [9]:
# set counter to 1
i = 1
df['month_order'] = df.month

In [10]:
df.head()

,year,month,city,district,price_riyals,area_m2,no_deals,status,realstate_cls,realstate_type,month_order
0,2018,مايو,الدمام,حي/1048/ ش د,1055000,2871.08,1,معتمدة,NaN,NaN,مايو
1,2018,يناير,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,NaN,NaN,يناير
2,2018,مارس,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,NaN,NaN,مارس
3,2018,مايو,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,NaN,NaN,مايو
4,2018,يونيو,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,NaN,NaN,يونيو

In [11]:
# loop for each month and create a new column month_order to corresponding month order
for month in months_names: 
    if i > 12: break 
    #if (df_fill.month_order[df_fill.month_order == month] != None):
    df.month_order[df.month_order == month] = i       
    i = i + 1

In [12]:
#check for result
df.month_order.unique()

array([5, 1, 3, 6, 7, 8, 9, 10, 12, 2, 4, 11], dtype=object)

In [13]:
df.head()

,year,month,city,district,price_riyals,area_m2,no_deals,status,realstate_cls,realstate_type,month_order
0,2018,مايو,الدمام,حي/1048/ ش د,1055000,2871.08,1,معتمدة,NaN,NaN,5
1,2018,يناير,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,NaN,NaN,1
2,2018,مارس,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,NaN,NaN,3
3,2018,مايو,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,NaN,NaN,5
4,2018,يونيو,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,NaN,NaN,6

In [14]:
df.sort_values(
    by=['realstate_cls', 'realstate_type','city', 'district', 'year', 'month_order'], 
    axis=0, 
    ascending=True, 
    inplace=True, 
    kind='quicksort', 
    na_position='last', 
    ignore_index=True, 
    key=None
)

In [15]:
df = df.replace(0, np.nan)

In [16]:
# current datatype of data 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41256 entries, 0 to 41255
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            41256 non-null  int64
 1   month           41256 non-null  object
 2   city            41256 non-null  object
 3   district        40404 non-null  object
 4   price_riyals    22371 non-null  float64
 5   area_m2         22371 non-null  float64
 6   no_deals        22371 non-null  float64
 7   status          41256 non-null  object
 8   realstate_cls   804 non-null    object
 9   realstate_type  660 non-null    object
 10  month_order     41256 non-null  object
dtypes: float64(3), int64(1), object(7)
memory usage: 3.5+ MB

In [17]:
unique_district = df.district.unique()
len(unique_district)

1660

In [18]:
df.head()

,year,month,city,district,price_riyals,area_m2,no_deals,status,realstate_cls,realstate_type,month_order
0,2018,مارس,المدينة المنورة,NaN,NaN,NaN,NaN,معتمدة,تجاري,أرض زراعية,3
1,2018,اوغسطس,المدينة المنورة,NaN,NaN,NaN,NaN,معتمدة,تجاري,أرض زراعية,8
2,2018,سبتمبر,المدينة المنورة,NaN,NaN,NaN,NaN,معتمدة,تجاري,أرض زراعية,9
3,2018,اكتوبر,المدينة المنورة,NaN,NaN,NaN,NaN,معتمدة,تجاري,أرض زراعية,10
4,2018,نوفمبر,المدينة المنورة,NaN,68000000.0,221080.2,2.0,معتمدة,تجاري,أرض زراعية,11

### Fill empty with Mean

In [19]:
df_fill = df.copy()

In [20]:
for district in unique_district: 
    df_u = df_fill[(df_fill.district == district)]
    unique_year = df_u.year.unique()
    for year in unique_year: 
        df_y = df_u[(df_u.year == year)]
        price_fill = df_y.price_riyals.mean(skipna=True) 
        df_y.price_riyals = df_y.price_riyals.fillna(value = price_fill, method=None)
        #print(district, year, price_fill)
        area_fill = df_y.area_m2[(df_u.year == year)].mean(skipna=True) 
        df_y.area_m2 = df_y.area_m2.fillna(value = area_fill, method=None)
        #print(district, year, area_fill)
        no_deals_fill = df_y.no_deals.mean(skipna=True) 
        df_y.no_deals = df_y.no_deals.fillna(value = no_deals_fill, method=None)
        #print(district, year, no_deals_fill)
        df_u[(df_u.year == year)] = df_y
    df_fill[(df_fill.district == district)] = df_u

In [21]:
df_fill.to_excel(excel_writer = "m1.xlsx", sheet_name='all', index=False)

In [22]:
df_fill.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41256 entries, 0 to 41255
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            41256 non-null  int64
 1   month           41256 non-null  object
 2   city            41256 non-null  object
 3   district        40404 non-null  object
 4   price_riyals    35970 non-null  float64
 5   area_m2         35970 non-null  float64
 6   no_deals        35970 non-null  float64
 7   status          41256 non-null  object
 8   realstate_cls   804 non-null    object
 9   realstate_type  660 non-null    object
 10  month_order     41256 non-null  object
dtypes: float64(3), int64(1), object(7)
memory usage: 3.5+ MB

In [23]:
for district in unique_district: 
    df_u = df_fill[(df_fill.district == district)] 
    df_u.price_riyals = df_u.price_riyals.ffill(axis ='rows')
    df_u.price_riyals = df_u.price_riyals.bfill(axis ='rows')
    #print(district, year, price_fill)
    df_u.area_m2 = df_u.area_m2.ffill(axis ='rows')
    df_u.area_m2 = df_u.area_m2.bfill(axis ='rows')
    #print(district, year, area_fill)
    df_u.no_deals = df_u.no_deals.ffill(axis ='rows')
    df_u.no_deals = df_u.no_deals.bfill(axis ='rows')
    #print(district, year, no_deals_fill)
    df_fill[(df_fill.district == district)] = df_u

In [25]:
df_fill.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41256 entries, 0 to 41255
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            41256 non-null  int64
 1   month           41256 non-null  object
 2   city            41256 non-null  object
 3   district        40404 non-null  object
 4   price_riyals    35973 non-null  float64
 5   area_m2         35973 non-null  float64
 6   no_deals        35973 non-null  float64
 7   status          41256 non-null  object
 8   realstate_cls   804 non-null    object
 9   realstate_type  660 non-null    object
 10  month_order     41256 non-null  object
dtypes: float64(3), int64(1), object(7)
memory usage: 3.5+ MB

In [26]:
df_u1 = df_fill[(df_fill.city == "المدينة المنورة")]
df_u1.shape

(852, 11)

In [27]:
unique_realstate_cls = df_u1['realstate_cls'].unique()
for realstate_cls in unique_realstate_cls: 
    df_u = df_u1[(df_u1.realstate_cls == realstate_cls)]
    unique_year = df_u.year.unique()
    for year in unique_year: 
        df_y = df_u[(df_u.year == year)]
        price_fill = df_y.price_riyals.mean(skipna=True) 
        df_y.price_riyals = df_y.price_riyals.fillna(value = price_fill, method=None)
        #print(district, year, price_fill)
        area_fill = df_y.area_m2[(df_u.year == year)].mean(skipna=True) 
        df_y.area_m2 = df_y.area_m2.fillna(value = area_fill, method=None)
        #print(district, year, area_fill)
        no_deals_fill = df_y.no_deals.mean(skipna=True) 
        df_y.no_deals = df_y.no_deals.fillna(value = no_deals_fill, method=None)
        #print(district, year, no_deals_fill)
        df_u[(df_u.year == year)] = df_y
    df_u1[(df_u1.realstate_cls == realstate_cls)] = df_u

In [28]:
df_u1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 852 entries, 0 to 14203
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            852 non-null    int64
 1   month           852 non-null    object
 2   city            852 non-null    object
 3   district        0 non-null      object
 4   price_riyals    842 non-null    float64
 5   area_m2         842 non-null    float64
 6   no_deals        842 non-null    float64
 7   status          852 non-null    object
 8   realstate_cls   804 non-null    object
 9   realstate_type  660 non-null    object
 10  month_order     852 non-null    object
dtypes: float64(3), int64(1), object(7)
memory usage: 79.9+ KB

In [29]:
df_u1.price_riyals = df_u1.price_riyals.ffill(axis ='rows')
df_u1.price_riyals = df_u1.price_riyals.bfill(axis ='rows')

df_u1.area_m2 = df_u1.area_m2.ffill(axis ='rows')
df_u1.area_m2 = df_u1.area_m2.bfill(axis ='rows')

df_u1.no_deals = df_u1.no_deals.ffill(axis ='rows')
df_u1.no_deals = df_u1.no_deals.bfill(axis ='rows')

In [30]:
df_u = df_u1[(df_u1.realstate_cls.isna())] 
df_u.head()

,year,month,city,district,price_riyals,area_m2,no_deals,status,realstate_cls,realstate_type,month_order
14156,2018,يناير,المدينة المنورة,NaN,6.813185e+08,1.634478e+06,656.0,معتمدة,NaN,NaN,1
14157,2018,فبراير,المدينة المنورة,NaN,1.081289e+09,1.186539e+06,863.0,معتمدة,NaN,NaN,2
14158,2018,مارس,المدينة المنورة,NaN,5.781585e+08,7.712145e+05,643.0,معتمدة,NaN,NaN,3
14159,2018,ابريل,المدينة المنورة,NaN,6.798529e+08,5.821502e+05,582.0,معتمدة,NaN,NaN,4
14160,2018,مايو,المدينة المنورة,NaN,4.524330e+08,6.784624e+05,535.0,معتمدة,NaN,NaN,5

In [31]:
df_u1[(df_u1.realstate_cls.isna())]  = df_u

In [32]:
df_u1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 852 entries, 0 to 14203
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            852 non-null    int64
 1   month           852 non-null    object
 2   city            852 non-null    object
 3   district        0 non-null      object
 4   price_riyals    842 non-null    float64
 5   area_m2         842 non-null    float64
 6   no_deals        842 non-null    float64
 7   status          852 non-null    object
 8   realstate_cls   804 non-null    object
 9   realstate_type  660 non-null    object
 10  month_order     852 non-null    object
dtypes: float64(3), int64(1), object(7)
memory usage: 79.9+ KB

In [33]:
df_fill[(df_fill.city == "المدينة المنورة")] = df_u1

In [34]:
df_fill.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41256 entries, 0 to 41255
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            41256 non-null  int64
 1   month           41256 non-null  object
 2   city            41256 non-null  object
 3   district        40404 non-null  object
 4   price_riyals    36302 non-null  float64
 5   area_m2         36302 non-null  float64
 6   no_deals        36302 non-null  float64
 7   status          41256 non-null  object
 8   realstate_cls   804 non-null    object
 9   realstate_type  660 non-null    object
 10  month_order     41256 non-null  object
dtypes: float64(3), int64(1), object(7)
memory usage: 3.5+ MB

In [35]:
df_fill.head()

,year,month,city,district,price_riyals,area_m2,no_deals,status,realstate_cls,realstate_type,month_order
0,2018,مارس,المدينة المنورة,NaN,1.017790e+08,49325.08367,40.95,معتمدة,تجاري,أرض زراعية,3
1,2018,اوغسطس,المدينة المنورة,NaN,1.017790e+08,49325.08367,40.95,معتمدة,تجاري,أرض زراعية,8
2,2018,سبتمبر,المدينة المنورة,NaN,1.017790e+08,49325.08367,40.95,معتمدة,تجاري,أرض زراعية,9
3,2018,اكتوبر,المدينة المنورة,NaN,1.017790e+08,49325.08367,40.95,معتمدة,تجاري,أرض زراعية,10
4,2018,نوفمبر,المدينة المنورة,NaN,6.800000e+07,221080.20000,2.00,معتمدة,تجاري,أرض زراعية,11

In [36]:
df_fill['no_deals'] = df_fill['no_deals'].round(decimals = 0)

In [37]:
df_fill.head()

,year,month,city,district,price_riyals,area_m2,no_deals,status,realstate_cls,realstate_type,month_order
0,2018,مارس,المدينة المنورة,NaN,1.017790e+08,49325.08367,41.0,معتمدة,تجاري,أرض زراعية,3
1,2018,اوغسطس,المدينة المنورة,NaN,1.017790e+08,49325.08367,41.0,معتمدة,تجاري,أرض زراعية,8
2,2018,سبتمبر,المدينة المنورة,NaN,1.017790e+08,49325.08367,41.0,معتمدة,تجاري,أرض زراعية,9
3,2018,اكتوبر,المدينة المنورة,NaN,1.017790e+08,49325.08367,41.0,معتمدة,تجاري,أرض زراعية,10
4,2018,نوفمبر,المدينة المنورة,NaN,6.800000e+07,221080.20000,2.0,معتمدة,تجاري,أرض زراعية,11

## Saving the filling data with mean in other format:

In [38]:
# 1- saving complete dataset with missing values as excel file
df_fill.to_excel(excel_writer = "data/xlsx/all_mean.xlsx", sheet_name='all', index=False)

In [39]:
# 2- saving complete dataset with missing values as csv file
df_fill.to_csv("data/csv/all_mean.csv", header=True, index=False, encoding='utf_8_sig')

In [40]:
# 3- saving complete dataset with missing values as json file
with open("data/json/all_mean.json", "w") as write_file:
    json.dump(
        df_fill.to_json(
            orient='records', 
            double_precision=10, 
            force_ascii=False, 
            lines=True, 
            compression='infer', 
            index=True, 
            indent=4), 
        write_file
    )

### Fill empty with fill medain

In [41]:
df_fill = df.copy()

In [42]:
df_fill.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41256 entries, 0 to 41255
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            41256 non-null  int64
 1   month           41256 non-null  object
 2   city            41256 non-null  object
 3   district        40404 non-null  object
 4   price_riyals    22371 non-null  float64
 5   area_m2         22371 non-null  float64
 6   no_deals        22371 non-null  float64
 7   status          41256 non-null  object
 8   realstate_cls   804 non-null    object
 9   realstate_type  660 non-null    object
 10  month_order     41256 non-null  object
dtypes: float64(3), int64(1), object(7)
memory usage: 3.5+ MB

In [43]:
for district in unique_district: 
    df_u = df_fill[(df_fill.district == district)]
    unique_year = df_u.year.unique()
    for year in unique_year: 
        df_y = df_u[(df_u.year == year)]
        price_fill = df_y.price_riyals.median(skipna=True) 
        df_y.price_riyals = df_y.price_riyals.fillna(value = price_fill, method=None)
        #print(district, year, price_fill)
        area_fill = df_y.area_m2[(df_u.year == year)].median(skipna=True) 
        df_y.area_m2 = df_y.area_m2.fillna(value = area_fill, method=None)
        #print(district, year, area_fill)
        no_deals_fill = df_y.no_deals.median(skipna=True) 
        df_y.no_deals = df_y.no_deals.fillna(value = no_deals_fill, method=None)
        #print(district, year, no_deals_fill)
        df_u[(df_u.year == year)] = df_y
    df_fill[(df_fill.district == district)] = df_u

In [44]:
df_fill.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41256 entries, 0 to 41255
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            41256 non-null  int64
 1   month           41256 non-null  object
 2   city            41256 non-null  object
 3   district        40404 non-null  object
 4   price_riyals    35970 non-null  float64
 5   area_m2         35970 non-null  float64
 6   no_deals        35970 non-null  float64
 7   status          41256 non-null  object
 8   realstate_cls   804 non-null    object
 9   realstate_type  660 non-null    object
 10  month_order     41256 non-null  object
dtypes: float64(3), int64(1), object(7)
memory usage: 3.5+ MB

In [45]:
for district in unique_district: 
    df_u = df_fill[(df_fill.district == district)] 
    df_u.price_riyals = df_u.price_riyals.ffill(axis ='rows')
    df_u.price_riyals = df_u.price_riyals.bfill(axis ='rows')
    #print(district, year, price_fill)
    df_u.area_m2 = df_u.area_m2.ffill(axis ='rows')
    df_u.area_m2 = df_u.area_m2.bfill(axis ='rows')
    #print(district, year, area_fill)
    df_u.no_deals = df_u.no_deals.ffill(axis ='rows')
    df_u.no_deals = df_u.no_deals.bfill(axis ='rows')
    #print(district, year, no_deals_fill)

In [46]:
df_fill[(df_fill.district == district)] = df_u

In [47]:
df_fill.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41256 entries, 0 to 41255
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            41256 non-null  int64
 1   month           41256 non-null  object
 2   city            41256 non-null  object
 3   district        40404 non-null  object
 4   price_riyals    35973 non-null  float64
 5   area_m2         35973 non-null  float64
 6   no_deals        35973 non-null  float64
 7   status          41256 non-null  object
 8   realstate_cls   804 non-null    object
 9   realstate_type  660 non-null    object
 10  month_order     41256 non-null  object
dtypes: float64(3), int64(1), object(7)
memory usage: 3.5+ MB

In [48]:
df_u1 = df_fill[(df_fill.city == "المدينة المنورة")]
df_u1.shape

(852, 11)

In [49]:
unique_realstate_cls = df_u1['realstate_cls'].unique()
for realstate_cls in unique_realstate_cls: 
    df_u = df_u1[(df_u1.realstate_cls == realstate_cls)]
    unique_year = df_u.year.unique()
    for year in unique_year: 
        df_y = df_u[(df_u.year == year)]
        price_fill = df_y.price_riyals.median(skipna=True) 
        df_y.price_riyals = df_y.price_riyals.fillna(value = price_fill, method=None)
        #print(district, year, price_fill)
        area_fill = df_y.area_m2[(df_u.year == year)].median(skipna=True) 
        df_y.area_m2 = df_y.area_m2.fillna(value = area_fill, method=None)
        #print(district, year, area_fill)
        no_deals_fill = df_y.no_deals.median(skipna=True) 
        df_y.no_deals = df_y.no_deals.fillna(value = no_deals_fill, method=None)
        #print(district, year, no_deals_fill)
        df_u[(df_u.year == year)] = df_y
    df_u1[(df_u1.realstate_cls == realstate_cls)] = df_u

In [50]:
df_u1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 852 entries, 0 to 14203
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            852 non-null    int64
 1   month           852 non-null    object
 2   city            852 non-null    object
 3   district        0 non-null      object
 4   price_riyals    842 non-null    float64
 5   area_m2         842 non-null    float64
 6   no_deals        842 non-null    float64
 7   status          852 non-null    object
 8   realstate_cls   804 non-null    object
 9   realstate_type  660 non-null    object
 10  month_order     852 non-null    object
dtypes: float64(3), int64(1), object(7)
memory usage: 79.9+ KB

In [51]:
df_u = df_u1[(df_u1.realstate_cls.isna())] 
df_u

,year,month,city,district,price_riyals,area_m2,no_deals,status,realstate_cls,realstate_type,month_order
14156,2018,يناير,المدينة المنورة,NaN,6.813185e+08,1.634478e+06,656.0,معتمدة,NaN,NaN,1
14157,2018,فبراير,المدينة المنورة,NaN,1.081289e+09,1.186539e+06,863.0,معتمدة,NaN,NaN,2
14158,2018,مارس,المدينة المنورة,NaN,5.781585e+08,7.712145e+05,643.0,معتمدة,NaN,NaN,3
14159,2018,ابريل,المدينة المنورة,NaN,6.798529e+08,5.821502e+05,582.0,معتمدة,NaN,NaN,4
14160,2018,مايو,المدينة المنورة,NaN,4.524330e+08,6.784624e+05,535.0,معتمدة,NaN,NaN,5
14161,2018,يونيو,المدينة المنورة,NaN,2.127326e+08,2.078144e+05,205.0,معتمدة,NaN,NaN,6
14162,2018,يوليو,المدينة المنورة,NaN,4.647068e+08,9.580579e+05,595.0,معتمدة,NaN,NaN,7
14163,2018,اوغسطس,المدينة المنورة,NaN,2.347599e+08,2.914363e+05,335.0,معتمدة,NaN,NaN,8
14164,2018,سبتمبر,المدينة المنورة,NaN,5.602604e+08,7.362511e+05,504.0,معتمدة,NaN,NaN,9
14165,2018,اكتوبر,المدينة المنورة,NaN,5.205978e+08,8.916209e+05,737.0,معتمدة,NaN,NaN,10
14166,2018,نوفمبر,المدينة المنورة,NaN,5.459643e+08,1.617144e+06,802.0,معتمدة,NaN,NaN,11
14167,2018,ديسمبر,المدينة المنورة,NaN,8.703230e+08,2.002124e+06,1041.0,معتمدة,NaN,NaN,12
14168,2019,يناير,المدينة المنورة,NaN,6.613711e+08,1.286267e+06,1120.0,معتمدة,NaN,NaN,1
14169,2019,فبراير,المدينة المنورة,NaN,7.694390e+08,1.440011e+06,1007.0,معتمدة,NaN,NaN,2
14170,2019,مارس,المدينة المنورة,NaN,5.855259e+08,1.181274e+06,1001.0,معتمدة,NaN,NaN,3
14171,2019,ابريل,المدينة المنورة,NaN,8.729265e+08,9.727697e+05,881.0,معتمدة,NaN,NaN,4
14172,2019,مايو,المدينة المنورة,NaN,5.598370e+08,9.327859e+05,708.0,معتمدة,NaN,NaN,5
14173,2019,يونيو,المدينة المنورة,NaN,5.456496e+08,6.037804e+05,669.0,معتمدة,NaN,NaN,6
14174,2019,يوليو,المدينة المنورة,NaN,8.981847e+08,2.336955e+06,1206.0,معتمدة,NaN,NaN,7
14175,2019,اوغسطس,المدينة المنورة,NaN,4.912293e+08,7.908986e+05,830.0,معتمدة,NaN,NaN,8
14176,2019,سبتمبر,المدينة المنورة,NaN,1.812653e+09,1.449360e+06,1216.0,معتمدة,NaN,NaN,9
14177,2019,اكتوبر,المدينة المنورة,NaN,6.062117e+08,1.208146e+06,927.0,معتمدة,NaN,NaN,10
14178,2019,نوفمبر,المدينة المنورة,NaN,6.841311e+08,4.060852e+05,707.0,معتمدة,NaN,NaN,11
14179,2019,ديسمبر,المدينة المنورة,NaN,7.847392e+08,9.999577e+05,927.0,معتمدة,NaN,NaN,12
14180,2020,يناير,المدينة المنورة,NaN,6.648535e+08,7.716476e+05,1014.0,معتمدة,NaN,NaN,1
14181,2020,فبراير,المدينة المنورة,NaN,7.998826e+08,1.172517e+06,1201.0,معتمدة,NaN,NaN,2
14182,2020,مارس,المدينة المنورة,NaN,4.213500e+08,3.624544e+05,593.0,معتمدة,NaN,NaN,3
14183,2020,ابريل,المدينة المنورة,NaN,NaN,NaN,NaN,معتمدة,NaN,NaN,4
14184,2020,مايو,المدينة المنورة,NaN,NaN,NaN,NaN,معتمدة,NaN,NaN,5
14185,2020,يونيو,المدينة المنورة,NaN,1.307444e+09,1.095142e+06,1424.0,معتمدة,NaN,NaN,6
14186,2020,يوليو,المدينة المنورة,NaN,2.231032e+08,6.144847e+05,529.0,معتمدة,NaN,NaN,7
14187,2020,اوغسطس,المدينة المنورة,NaN,3.664923e+08,7.267480e+05,703.0,معتمدة,NaN,NaN,8
14188,2020,سبتمبر,المدينة المنورة,NaN,4.230593e+08,7.918185e+05,815.0,معتمدة,NaN,NaN,9
14189,2020,اكتوبر,المدينة المنورة,NaN,4.327473e+08,1.347762e+06,821.0,معتمدة,NaN,NaN,10
14190,2020,نوفمبر,المدينة المنورة,NaN,7.906703e+08,1.916474e+06,1002.0,معتمدة,NaN,NaN,11
14191,2020,ديسمبر,المدينة المنورة,NaN,5.938121e+08,1.592569e+06,916.0,معتمدة,NaN,NaN,12
14192,2021,يناير,المدينة المنورة,NaN,4.668554e+08,2.261198e+06,838.0,معتمدة,NaN,NaN,1
14193,2021,فبراير,المدينة المنورة,NaN,7.214309e+08,3.922992e+06,1076.0,معتمدة,NaN,NaN,2
14194,2021,مارس,المدينة المنورة,NaN,7.986084e+08,3.596939e+06,1245.0,معتمدة,NaN,NaN,3
14195,2021,ابريل,المدينة المنورة,NaN,4.614785e+08,1.424739e+06,558.0,معتمدة,NaN,NaN,4
14196,2021,مايو,المدينة المنورة,NaN,NaN,NaN,NaN,معتمدة,NaN,NaN,5
14197,2021,يونيو,المدينة المنورة,NaN,NaN,NaN,NaN,معتمدة,NaN,NaN,6
14198,2021,يوليو,المدينة المنورة,NaN,NaN,NaN,NaN,معتمدة,NaN,NaN,7
14199,2021,اوغسطس,المدينة المنورة,NaN,NaN,NaN,NaN,معتمدة,NaN,NaN,8
14200,2021,سبتمبر,المدينة المنورة,NaN,NaN,NaN,NaN,معتمدة,NaN,NaN,9
14201,2021,اكتوبر,المدينة المنورة,NaN,NaN,NaN,NaN,معتمدة,NaN,NaN,10
14202,2021,نوفمبر,المدينة المنورة,NaN,NaN,NaN,NaN,معتمدة,NaN,NaN,11
14203,2021,ديسمبر,المدينة المنورة,NaN,NaN,NaN,NaN,معتمدة,NaN,NaN,12

In [52]:
df_u.price_riyals = df_u.price_riyals.ffill(axis ='rows')
df_u.price_riyals = df_u.price_riyals.bfill(axis ='rows')

df_u.area_m2 = df_u.area_m2.ffill(axis ='rows')
df_u.area_m2 = df_u.area_m2.bfill(axis ='rows')

df_u.no_deals = df_u.no_deals.ffill(axis ='rows')
df_u.no_deals = df_u.no_deals.bfill(axis ='rows')

In [53]:
df_u1[(df_u1.realstate_cls.isna())]  = df_u

In [54]:
df_u1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 852 entries, 0 to 14203
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            852 non-null    int64
 1   month           852 non-null    object
 2   city            852 non-null    object
 3   district        0 non-null      object
 4   price_riyals    852 non-null    float64
 5   area_m2         852 non-null    float64
 6   no_deals        852 non-null    float64
 7   status          852 non-null    object
 8   realstate_cls   804 non-null    object
 9   realstate_type  660 non-null    object
 10  month_order     852 non-null    object
dtypes: float64(3), int64(1), object(7)
memory usage: 79.9+ KB

In [55]:
df_fill[(df_fill.city == "المدينة المنورة")] = df_u1

In [56]:
df_fill.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41256 entries, 0 to 41255
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            41256 non-null  int64
 1   month           41256 non-null  object
 2   city            41256 non-null  object
 3   district        40404 non-null  object
 4   price_riyals    36312 non-null  float64
 5   area_m2         36312 non-null  float64
 6   no_deals        36312 non-null  float64
 7   status          41256 non-null  object
 8   realstate_cls   804 non-null    object
 9   realstate_type  660 non-null    object
 10  month_order     41256 non-null  object
dtypes: float64(3), int64(1), object(7)
memory usage: 3.5+ MB

In [57]:
df_fill.head()

,year,month,city,district,price_riyals,area_m2,no_deals,status,realstate_cls,realstate_type,month_order
0,2018,مارس,المدينة المنورة,NaN,54387584.5,35963.7325,48.0,معتمدة,تجاري,أرض زراعية,3
1,2018,اوغسطس,المدينة المنورة,NaN,54387584.5,35963.7325,48.0,معتمدة,تجاري,أرض زراعية,8
2,2018,سبتمبر,المدينة المنورة,NaN,54387584.5,35963.7325,48.0,معتمدة,تجاري,أرض زراعية,9
3,2018,اكتوبر,المدينة المنورة,NaN,54387584.5,35963.7325,48.0,معتمدة,تجاري,أرض زراعية,10
4,2018,نوفمبر,المدينة المنورة,NaN,68000000.0,221080.2000,2.0,معتمدة,تجاري,أرض زراعية,11

In [58]:
df_fill['no_deals'] = df_fill['no_deals'].round(decimals = 0)

In [59]:
df_fill.head()

,year,month,city,district,price_riyals,area_m2,no_deals,status,realstate_cls,realstate_type,month_order
0,2018,مارس,المدينة المنورة,NaN,54387584.5,35963.7325,48.0,معتمدة,تجاري,أرض زراعية,3
1,2018,اوغسطس,المدينة المنورة,NaN,54387584.5,35963.7325,48.0,معتمدة,تجاري,أرض زراعية,8
2,2018,سبتمبر,المدينة المنورة,NaN,54387584.5,35963.7325,48.0,معتمدة,تجاري,أرض زراعية,9
3,2018,اكتوبر,المدينة المنورة,NaN,54387584.5,35963.7325,48.0,معتمدة,تجاري,أرض زراعية,10
4,2018,نوفمبر,المدينة المنورة,NaN,68000000.0,221080.2000,2.0,معتمدة,تجاري,أرض زراعية,11

## Saving the filling data with mean in other format:

In [60]:
# 1- saving complete dataset with missing values as excel file
df_fill.to_excel(excel_writer = "data/xlsx/all_median.xlsx", sheet_name='all', index=False)

In [61]:
# 2- saving complete dataset with missing values as csv file
df_fill.to_csv("data/csv/all_median.csv", header=True, index=False, encoding='utf_8_sig')

In [62]:
# 3- saving complete dataset with missing values as json file
with open("data/json/all_median.json", "w") as write_file:
    json.dump(
        df_fill.to_json(
            orient='records', 
            double_precision=10, 
            force_ascii=False, 
            lines=True, 
            compression='infer', 
            index=True, 
            indent=4), 
        write_file
    )

### Fill empty with fill forward and backward

### Fill empty with fill forward

In [63]:
df_fill = df

In [64]:
for district in unique_district: 
    df_u = df_fill[(df_fill.district == district)] 
    df_u.price_riyals = df_u.price_riyals.ffill(axis ='rows')
    df_u.price_riyals = df_u.price_riyals.bfill(axis ='rows')
    #print(district, year, price_fill)
    df_u.area_m2 = df_u.area_m2.ffill(axis ='rows')
    df_u.area_m2 = df_u.area_m2.bfill(axis ='rows')
    #print(district, year, area_fill)
    df_u.no_deals = df_u.no_deals.ffill(axis ='rows')
    df_u.no_deals = df_u.no_deals.bfill(axis ='rows')
    #print(district, year, no_deals_fill)
    df_fill[(df_fill.district == district)] = df_u

In [65]:
df_fill.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41256 entries, 0 to 41255
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            41256 non-null  int64
 1   month           41256 non-null  object
 2   city            41256 non-null  object
 3   district        40404 non-null  object
 4   price_riyals    40917 non-null  float64
 5   area_m2         40917 non-null  float64
 6   no_deals        40917 non-null  float64
 7   status          41256 non-null  object
 8   realstate_cls   804 non-null    object
 9   realstate_type  660 non-null    object
 10  month_order     41256 non-null  object
dtypes: float64(3), int64(1), object(7)
memory usage: 3.5+ MB

In [66]:
df_u1 = df_fill[(df_fill.city == "المدينة المنورة")]
df_u1.shape

(852, 11)

In [67]:
df_u = df_u1[(df_u1.realstate_cls.isna())] 
df_u

,year,month,city,district,price_riyals,area_m2,no_deals,status,realstate_cls,realstate_type,month_order
14156,2018,يناير,المدينة المنورة,NaN,6.813185e+08,1.634478e+06,656.0,معتمدة,NaN,NaN,1
14157,2018,فبراير,المدينة المنورة,NaN,1.081289e+09,1.186539e+06,863.0,معتمدة,NaN,NaN,2
14158,2018,مارس,المدينة المنورة,NaN,5.781585e+08,7.712145e+05,643.0,معتمدة,NaN,NaN,3
14159,2018,ابريل,المدينة المنورة,NaN,6.798529e+08,5.821502e+05,582.0,معتمدة,NaN,NaN,4
14160,2018,مايو,المدينة المنورة,NaN,4.524330e+08,6.784624e+05,535.0,معتمدة,NaN,NaN,5
14161,2018,يونيو,المدينة المنورة,NaN,2.127326e+08,2.078144e+05,205.0,معتمدة,NaN,NaN,6
14162,2018,يوليو,المدينة المنورة,NaN,4.647068e+08,9.580579e+05,595.0,معتمدة,NaN,NaN,7
14163,2018,اوغسطس,المدينة المنورة,NaN,2.347599e+08,2.914363e+05,335.0,معتمدة,NaN,NaN,8
14164,2018,سبتمبر,المدينة المنورة,NaN,5.602604e+08,7.362511e+05,504.0,معتمدة,NaN,NaN,9
14165,2018,اكتوبر,المدينة المنورة,NaN,5.205978e+08,8.916209e+05,737.0,معتمدة,NaN,NaN,10
14166,2018,نوفمبر,المدينة المنورة,NaN,5.459643e+08,1.617144e+06,802.0,معتمدة,NaN,NaN,11
14167,2018,ديسمبر,المدينة المنورة,NaN,8.703230e+08,2.002124e+06,1041.0,معتمدة,NaN,NaN,12
14168,2019,يناير,المدينة المنورة,NaN,6.613711e+08,1.286267e+06,1120.0,معتمدة,NaN,NaN,1
14169,2019,فبراير,المدينة المنورة,NaN,7.694390e+08,1.440011e+06,1007.0,معتمدة,NaN,NaN,2
14170,2019,مارس,المدينة المنورة,NaN,5.855259e+08,1.181274e+06,1001.0,معتمدة,NaN,NaN,3
14171,2019,ابريل,المدينة المنورة,NaN,8.729265e+08,9.727697e+05,881.0,معتمدة,NaN,NaN,4
14172,2019,مايو,المدينة المنورة,NaN,5.598370e+08,9.327859e+05,708.0,معتمدة,NaN,NaN,5
14173,2019,يونيو,المدينة المنورة,NaN,5.456496e+08,6.037804e+05,669.0,معتمدة,NaN,NaN,6
14174,2019,يوليو,المدينة المنورة,NaN,8.981847e+08,2.336955e+06,1206.0,معتمدة,NaN,NaN,7
14175,2019,اوغسطس,المدينة المنورة,NaN,4.912293e+08,7.908986e+05,830.0,معتمدة,NaN,NaN,8
14176,2019,سبتمبر,المدينة المنورة,NaN,1.812653e+09,1.449360e+06,1216.0,معتمدة,NaN,NaN,9
14177,2019,اكتوبر,المدينة المنورة,NaN,6.062117e+08,1.208146e+06,927.0,معتمدة,NaN,NaN,10
14178,2019,نوفمبر,المدينة المنورة,NaN,6.841311e+08,4.060852e+05,707.0,معتمدة,NaN,NaN,11
14179,2019,ديسمبر,المدينة المنورة,NaN,7.847392e+08,9.999577e+05,927.0,معتمدة,NaN,NaN,12
14180,2020,يناير,المدينة المنورة,NaN,6.648535e+08,7.716476e+05,1014.0,معتمدة,NaN,NaN,1
14181,2020,فبراير,المدينة المنورة,NaN,7.998826e+08,1.172517e+06,1201.0,معتمدة,NaN,NaN,2
14182,2020,مارس,المدينة المنورة,NaN,4.213500e+08,3.624544e+05,593.0,معتمدة,NaN,NaN,3
14183,2020,ابريل,المدينة المنورة,NaN,NaN,NaN,NaN,معتمدة,NaN,NaN,4
14184,2020,مايو,المدينة المنورة,NaN,NaN,NaN,NaN,معتمدة,NaN,NaN,5
14185,2020,يونيو,المدينة المنورة,NaN,1.307444e+09,1.095142e+06,1424.0,معتمدة,NaN,NaN,6
14186,2020,يوليو,المدينة المنورة,NaN,2.231032e+08,6.144847e+05,529.0,معتمدة,NaN,NaN,7
14187,2020,اوغسطس,المدينة المنورة,NaN,3.664923e+08,7.267480e+05,703.0,معتمدة,NaN,NaN,8
14188,2020,سبتمبر,المدينة المنورة,NaN,4.230593e+08,7.918185e+05,815.0,معتمدة,NaN,NaN,9
14189,2020,اكتوبر,المدينة المنورة,NaN,4.327473e+08,1.347762e+06,821.0,معتمدة,NaN,NaN,10
14190,2020,نوفمبر,المدينة المنورة,NaN,7.906703e+08,1.916474e+06,1002.0,معتمدة,NaN,NaN,11
14191,2020,ديسمبر,المدينة المنورة,NaN,5.938121e+08,1.592569e+06,916.0,معتمدة,NaN,NaN,12
14192,2021,يناير,المدينة المنورة,NaN,4.668554e+08,2.261198e+06,838.0,معتمدة,NaN,NaN,1
14193,2021,فبراير,المدينة المنورة,NaN,7.214309e+08,3.922992e+06,1076.0,معتمدة,NaN,NaN,2
14194,2021,مارس,المدينة المنورة,NaN,7.986084e+08,3.596939e+06,1245.0,معتمدة,NaN,NaN,3
14195,2021,ابريل,المدينة المنورة,NaN,4.614785e+08,1.424739e+06,558.0,معتمدة,NaN,NaN,4
14196,2021,مايو,المدينة المنورة,NaN,NaN,NaN,NaN,معتمدة,NaN,NaN,5
14197,2021,يونيو,المدينة المنورة,NaN,NaN,NaN,NaN,معتمدة,NaN,NaN,6
14198,2021,يوليو,المدينة المنورة,NaN,NaN,NaN,NaN,معتمدة,NaN,NaN,7
14199,2021,اوغسطس,المدينة المنورة,NaN,NaN,NaN,NaN,معتمدة,NaN,NaN,8
14200,2021,سبتمبر,المدينة المنورة,NaN,NaN,NaN,NaN,معتمدة,NaN,NaN,9
14201,2021,اكتوبر,المدينة المنورة,NaN,NaN,NaN,NaN,معتمدة,NaN,NaN,10
14202,2021,نوفمبر,المدينة المنورة,NaN,NaN,NaN,NaN,معتمدة,NaN,NaN,11
14203,2021,ديسمبر,المدينة المنورة,NaN,NaN,NaN,NaN,معتمدة,NaN,NaN,12

In [68]:
df_u.price_riyals = df_u.price_riyals.ffill(axis ='rows')
df_u.price_riyals = df_u.price_riyals.bfill(axis ='rows')

df_u.area_m2 = df_u.area_m2.ffill(axis ='rows')
df_u.area_m2 = df_u.area_m2.bfill(axis ='rows')

df_u.no_deals = df_u.no_deals.ffill(axis ='rows')
df_u.no_deals = df_u.no_deals.bfill(axis ='rows')

In [69]:
df_u1[(df_u1.realstate_cls.isna())]  = df_u

In [70]:
df_fill[(df_fill.city == "المدينة المنورة")] = df_u1

In [71]:
df_fill.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41256 entries, 0 to 41255
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            41256 non-null  int64
 1   month           41256 non-null  object
 2   city            41256 non-null  object
 3   district        40404 non-null  object
 4   price_riyals    40927 non-null  float64
 5   area_m2         40927 non-null  float64
 6   no_deals        40927 non-null  float64
 7   status          41256 non-null  object
 8   realstate_cls   804 non-null    object
 9   realstate_type  660 non-null    object
 10  month_order     41256 non-null  object
dtypes: float64(3), int64(1), object(7)
memory usage: 3.5+ MB

In [72]:
df_fill

,year,month,city,district,price_riyals,area_m2,no_deals,status,realstate_cls,realstate_type,month_order
0,2018,مارس,المدينة المنورة,NaN,NaN,NaN,NaN,معتمدة,تجاري,أرض زراعية,3
1,2018,اوغسطس,المدينة المنورة,NaN,NaN,NaN,NaN,معتمدة,تجاري,أرض زراعية,8
2,2018,سبتمبر,المدينة المنورة,NaN,NaN,NaN,NaN,معتمدة,تجاري,أرض زراعية,9
3,2018,اكتوبر,المدينة المنورة,NaN,NaN,NaN,NaN,معتمدة,تجاري,أرض زراعية,10
4,2018,نوفمبر,المدينة المنورة,NaN,68000000.0,221080.20,2.0,معتمدة,تجاري,أرض زراعية,11
...,...,...,...,...,...,...,...,...,...,...,...
41251,2021,ديسمبر,مكة المكرمة,حي/ولى العهد للمنح رقم2,900000.0,880.09,2.0,معتمدة,NaN,NaN,12
41252,2018,يوليو,مكة المكرمة,حي/يمين الذاهب الى الليث بمكة المكرمة بطريق ال...,1000000.0,58029.51,1.0,معتمدة,NaN,NaN,7
41253,2019,يوليو,مكة المكرمة,حي/يمين الذاهب الى الليث بمكة المكرمة بطريق ال...,1000000.0,58029.51,1.0,معتمدة,NaN,NaN,7
41254,2020,يوليو,مكة المكرمة,حي/يمين الذاهب الى الليث بمكة المكرمة بطريق ال...,1000000.0,58029.51,1.0,معتمدة,NaN,NaN,7
41255,2021,يوليو,مكة المكرمة,حي/يمين الذاهب الى الليث بمكة المكرمة بطريق ال...,1000000.0,58029.51,1.0,معتمدة,NaN,NaN,7

## Saving the filling data with mean in other format:

In [73]:
# 1- saving complete dataset with missing values as excel file
df_fill.to_excel(excel_writer = "data/xlsx/all_forward.xlsx", sheet_name='all', index=False)

In [74]:
# 2- saving complete dataset with missing values as csv file
df_fill.to_csv("data/csv/all_forward.csv", header=True, index=False, encoding='utf_8_sig')

In [75]:
# 3- saving complete dataset with missing values as json file
with open("data/json/all_forward.json", "w") as write_file:
    json.dump(
        df_fill.to_json(
            orient='records', 
            double_precision=10, 
            force_ascii=False, 
            lines=True, 
            compression='infer', 
            index=True, 
            indent=4), 
        write_file
    )

### Fill empty with fill forward and backward

### Fill empty with fill backward

In [76]:
df_fill = df

In [77]:
for district in unique_district: 
    df_u = df_fill[(df_fill.district == district)] 
    df_u.price_riyals = df_u.price_riyals.bfill(axis ='rows')
    df_u.price_riyals = df_u.price_riyals.ffill(axis ='rows')
    #print(district, year, price_fill)    
    df_u.area_m2 = df_u.area_m2.bfill(axis ='rows')
    df_u.area_m2 = df_u.area_m2.ffill(axis ='rows')
    #print(district, year, area_fill)    
    df_u.no_deals = df_u.no_deals.bfill(axis ='rows')
    df_u.no_deals = df_u.no_deals.ffill(axis ='rows')
    #print(district, year, no_deals_fill)
    df_fill[(df_fill.district == district)] = df_u

In [78]:
df_fill.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41256 entries, 0 to 41255
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            41256 non-null  int64
 1   month           41256 non-null  object
 2   city            41256 non-null  object
 3   district        40404 non-null  object
 4   price_riyals    40927 non-null  float64
 5   area_m2         40927 non-null  float64
 6   no_deals        40927 non-null  float64
 7   status          41256 non-null  object
 8   realstate_cls   804 non-null    object
 9   realstate_type  660 non-null    object
 10  month_order     41256 non-null  object
dtypes: float64(3), int64(1), object(7)
memory usage: 3.5+ MB

In [79]:
df_u1 = df_fill[(df_fill.city == "المدينة المنورة")]
df_u1.shape

(852, 11)

In [80]:
df_u = df_u1[(df_u1.realstate_cls.isna())] 
df_u

,year,month,city,district,price_riyals,area_m2,no_deals,status,realstate_cls,realstate_type,month_order
14156,2018,يناير,المدينة المنورة,NaN,6.813185e+08,1.634478e+06,656.0,معتمدة,NaN,NaN,1
14157,2018,فبراير,المدينة المنورة,NaN,1.081289e+09,1.186539e+06,863.0,معتمدة,NaN,NaN,2
14158,2018,مارس,المدينة المنورة,NaN,5.781585e+08,7.712145e+05,643.0,معتمدة,NaN,NaN,3
14159,2018,ابريل,المدينة المنورة,NaN,6.798529e+08,5.821502e+05,582.0,معتمدة,NaN,NaN,4
14160,2018,مايو,المدينة المنورة,NaN,4.524330e+08,6.784624e+05,535.0,معتمدة,NaN,NaN,5
14161,2018,يونيو,المدينة المنورة,NaN,2.127326e+08,2.078144e+05,205.0,معتمدة,NaN,NaN,6
14162,2018,يوليو,المدينة المنورة,NaN,4.647068e+08,9.580579e+05,595.0,معتمدة,NaN,NaN,7
14163,2018,اوغسطس,المدينة المنورة,NaN,2.347599e+08,2.914363e+05,335.0,معتمدة,NaN,NaN,8
14164,2018,سبتمبر,المدينة المنورة,NaN,5.602604e+08,7.362511e+05,504.0,معتمدة,NaN,NaN,9
14165,2018,اكتوبر,المدينة المنورة,NaN,5.205978e+08,8.916209e+05,737.0,معتمدة,NaN,NaN,10
14166,2018,نوفمبر,المدينة المنورة,NaN,5.459643e+08,1.617144e+06,802.0,معتمدة,NaN,NaN,11
14167,2018,ديسمبر,المدينة المنورة,NaN,8.703230e+08,2.002124e+06,1041.0,معتمدة,NaN,NaN,12
14168,2019,يناير,المدينة المنورة,NaN,6.613711e+08,1.286267e+06,1120.0,معتمدة,NaN,NaN,1
14169,2019,فبراير,المدينة المنورة,NaN,7.694390e+08,1.440011e+06,1007.0,معتمدة,NaN,NaN,2
14170,2019,مارس,المدينة المنورة,NaN,5.855259e+08,1.181274e+06,1001.0,معتمدة,NaN,NaN,3
14171,2019,ابريل,المدينة المنورة,NaN,8.729265e+08,9.727697e+05,881.0,معتمدة,NaN,NaN,4
14172,2019,مايو,المدينة المنورة,NaN,5.598370e+08,9.327859e+05,708.0,معتمدة,NaN,NaN,5
14173,2019,يونيو,المدينة المنورة,NaN,5.456496e+08,6.037804e+05,669.0,معتمدة,NaN,NaN,6
14174,2019,يوليو,المدينة المنورة,NaN,8.981847e+08,2.336955e+06,1206.0,معتمدة,NaN,NaN,7
14175,2019,اوغسطس,المدينة المنورة,NaN,4.912293e+08,7.908986e+05,830.0,معتمدة,NaN,NaN,8
14176,2019,سبتمبر,المدينة المنورة,NaN,1.812653e+09,1.449360e+06,1216.0,معتمدة,NaN,NaN,9
14177,2019,اكتوبر,المدينة المنورة,NaN,6.062117e+08,1.208146e+06,927.0,معتمدة,NaN,NaN,10
14178,2019,نوفمبر,المدينة المنورة,NaN,6.841311e+08,4.060852e+05,707.0,معتمدة,NaN,NaN,11
14179,2019,ديسمبر,المدينة المنورة,NaN,7.847392e+08,9.999577e+05,927.0,معتمدة,NaN,NaN,12
14180,2020,يناير,المدينة المنورة,NaN,6.648535e+08,7.716476e+05,1014.0,معتمدة,NaN,NaN,1
14181,2020,فبراير,المدينة المنورة,NaN,7.998826e+08,1.172517e+06,1201.0,معتمدة,NaN,NaN,2
14182,2020,مارس,المدينة المنورة,NaN,4.213500e+08,3.624544e+05,593.0,معتمدة,NaN,NaN,3
14183,2020,ابريل,المدينة المنورة,NaN,4.213500e+08,3.624544e+05,593.0,معتمدة,NaN,NaN,4
14184,2020,مايو,المدينة المنورة,NaN,4.213500e+08,3.624544e+05,593.0,معتمدة,NaN,NaN,5
14185,2020,يونيو,المدينة المنورة,NaN,1.307444e+09,1.095142e+06,1424.0,معتمدة,NaN,NaN,6
14186,2020,يوليو,المدينة المنورة,NaN,2.231032e+08,6.144847e+05,529.0,معتمدة,NaN,NaN,7
14187,2020,اوغسطس,المدينة المنورة,NaN,3.664923e+08,7.267480e+05,703.0,معتمدة,NaN,NaN,8
14188,2020,سبتمبر,المدينة المنورة,NaN,4.230593e+08,7.918185e+05,815.0,معتمدة,NaN,NaN,9
14189,2020,اكتوبر,المدينة المنورة,NaN,4.327473e+08,1.347762e+06,821.0,معتمدة,NaN,NaN,10
14190,2020,نوفمبر,المدينة المنورة,NaN,7.906703e+08,1.916474e+06,1002.0,معتمدة,NaN,NaN,11
14191,2020,ديسمبر,المدينة المنورة,NaN,5.938121e+08,1.592569e+06,916.0,معتمدة,NaN,NaN,12
14192,2021,يناير,المدينة المنورة,NaN,4.668554e+08,2.261198e+06,838.0,معتمدة,NaN,NaN,1
14193,2021,فبراير,المدينة المنورة,NaN,7.214309e+08,3.922992e+06,1076.0,معتمدة,NaN,NaN,2
14194,2021,مارس,المدينة المنورة,NaN,7.986084e+08,3.596939e+06,1245.0,معتمدة,NaN,NaN,3
14195,2021,ابريل,المدينة المنورة,NaN,4.614785e+08,1.424739e+06,558.0,معتمدة,NaN,NaN,4
14196,2021,مايو,المدينة المنورة,NaN,4.614785e+08,1.424739e+06,558.0,معتمدة,NaN,NaN,5
14197,2021,يونيو,المدينة المنورة,NaN,4.614785e+08,1.424739e+06,558.0,معتمدة,NaN,NaN,6
14198,2021,يوليو,المدينة المنورة,NaN,4.614785e+08,1.424739e+06,558.0,معتمدة,NaN,NaN,7
14199,2021,اوغسطس,المدينة المنورة,NaN,4.614785e+08,1.424739e+06,558.0,معتمدة,NaN,NaN,8
14200,2021,سبتمبر,المدينة المنورة,NaN,4.614785e+08,1.424739e+06,558.0,معتمدة,NaN,NaN,9
14201,2021,اكتوبر,المدينة المنورة,NaN,4.614785e+08,1.424739e+06,558.0,معتمدة,NaN,NaN,10
14202,2021,نوفمبر,المدينة المنورة,NaN,4.614785e+08,1.424739e+06,558.0,معتمدة,NaN,NaN,11
14203,2021,ديسمبر,المدينة المنورة,NaN,4.614785e+08,1.424739e+06,558.0,معتمدة,NaN,NaN,12

In [81]:
df_u.price_riyals = df_u.price_riyals.bfill(axis ='rows')
df_u.price_riyals = df_u.price_riyals.ffill(axis ='rows')    

df_u.area_m2 = df_u.area_m2.bfill(axis ='rows')
df_u.area_m2 = df_u.area_m2.ffill(axis ='rows')    

df_u.no_deals = df_u.no_deals.bfill(axis ='rows')
df_u.no_deals = df_u.no_deals.ffill(axis ='rows')

In [82]:
df_u1[(df_u1.realstate_cls.isna())]  = df_u

In [83]:
df_fill[(df_fill.city == "المدينة المنورة")] = df_u1

In [84]:
df_fill.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41256 entries, 0 to 41255
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            41256 non-null  int64
 1   month           41256 non-null  object
 2   city            41256 non-null  object
 3   district        40404 non-null  object
 4   price_riyals    40927 non-null  float64
 5   area_m2         40927 non-null  float64
 6   no_deals        40927 non-null  float64
 7   status          41256 non-null  object
 8   realstate_cls   804 non-null    object
 9   realstate_type  660 non-null    object
 10  month_order     41256 non-null  object
dtypes: float64(3), int64(1), object(7)
memory usage: 3.5+ MB

In [85]:
df_fill

,year,month,city,district,price_riyals,area_m2,no_deals,status,realstate_cls,realstate_type,month_order
0,2018,مارس,المدينة المنورة,NaN,NaN,NaN,NaN,معتمدة,تجاري,أرض زراعية,3
1,2018,اوغسطس,المدينة المنورة,NaN,NaN,NaN,NaN,معتمدة,تجاري,أرض زراعية,8
2,2018,سبتمبر,المدينة المنورة,NaN,NaN,NaN,NaN,معتمدة,تجاري,أرض زراعية,9
3,2018,اكتوبر,المدينة المنورة,NaN,NaN,NaN,NaN,معتمدة,تجاري,أرض زراعية,10
4,2018,نوفمبر,المدينة المنورة,NaN,68000000.0,221080.20,2.0,معتمدة,تجاري,أرض زراعية,11
...,...,...,...,...,...,...,...,...,...,...,...
41251,2021,ديسمبر,مكة المكرمة,حي/ولى العهد للمنح رقم2,900000.0,880.09,2.0,معتمدة,NaN,NaN,12
41252,2018,يوليو,مكة المكرمة,حي/يمين الذاهب الى الليث بمكة المكرمة بطريق ال...,1000000.0,58029.51,1.0,معتمدة,NaN,NaN,7
41253,2019,يوليو,مكة المكرمة,حي/يمين الذاهب الى الليث بمكة المكرمة بطريق ال...,1000000.0,58029.51,1.0,معتمدة,NaN,NaN,7
41254,2020,يوليو,مكة المكرمة,حي/يمين الذاهب الى الليث بمكة المكرمة بطريق ال...,1000000.0,58029.51,1.0,معتمدة,NaN,NaN,7
41255,2021,يوليو,مكة المكرمة,حي/يمين الذاهب الى الليث بمكة المكرمة بطريق ال...,1000000.0,58029.51,1.0,معتمدة,NaN,NaN,7

## Saving the filling data with mean in other format:

In [86]:
# 1- saving complete dataset with missing values as excel file
df_fill.to_excel(excel_writer = "data/xlsx/all_backward.xlsx", sheet_name='all', index=False)

In [87]:
# 2- saving complete dataset with missing values as csv file
df_fill.to_csv("data/csv/all_backward.csv", header=True, index=False, encoding='utf_8_sig')

In [88]:
# 3- saving complete dataset with missing values as json file
with open("data/json/all_backward.json", "w") as write_file:
    json.dump(
        df_fill.to_json(
            orient='records', 
            double_precision=10, 
            force_ascii=False, 
            lines=True, 
            compression='infer', 
            index=True, 
            indent=4), 
        write_file
    )