In [ ]:
# Reading an excel file using Python
import numpy as np
import pandas as pd
import json

In [ ]:
pd.options.mode.chained_assignment = None  # default='warn'

### final dataset shape 
df_names = ["year", "month", "city", "district", "price_riyals", "area_m2", "no_deals", "status", "realstate_cls", "realstate_type"]

In [ ]:
# read excel file
df = pd.read_excel("data/xlsx/all.xlsx")

In [ ]:
# check the size of new data
df.shape

In [ ]:
# check for first five rows
df.head()

In [ ]:
# current statistics of data 
df.describe(include="all")

In [ ]:
# current datatype of data 
df.info()

### Replace month name from arabic to number
list_month = [1, 'January', 31,
              2, 'February', 28,
              3,'March',31,
              4,'April',30,
              5,'May',31,
              6,'June',30,
              7,'July',31,
              8,'August',31,
              9,'September',30,
              10,'October',31,
              11,'November',30,
              12,'December',31]

In [ ]:
# list of arabic months
months_names = [
    'يناير',
    'فبراير',
    'مارس',
    'ابريل',
    'مايو',
    'يونيو',
    'يوليو',
    'اوغسطس',
    'سبتمبر',
    'اكتوبر',
    'نوفمبر',
    'ديسمبر'
]

In [ ]:
# set counter to 1
i = 1
df['month_order'] = df.month

In [ ]:
df.head()

In [ ]:
# loop for each month and create a new column month_order to corresponding month order
for month in months_names: 
    if i > 12: break 
    #if (df_fill.month_order[df_fill.month_order == month] != None):
    df.month_order[df.month_order == month] = i       
    i = i + 1

In [ ]:
#check for result
df.month_order.unique()

In [ ]:
df.head()

In [ ]:
df.sort_values(
    by=['realstate_cls', 'realstate_type','city', 'district', 'year', 'month_order'], 
    axis=0, 
    ascending=True, 
    inplace=True, 
    kind='quicksort', 
    na_position='last', 
    ignore_index=True, 
    key=None
)

In [ ]:
df = df.replace(0, np.nan)

In [ ]:
# current datatype of data 
df.info()

In [ ]:
unique_district = df.district.unique()
len(unique_district)

In [ ]:
df.head()

### Fill empty with Mean

In [ ]:
df_fill = df.copy()

In [ ]:
for district in unique_district: 
    df_u = df_fill[(df_fill.district == district)]
    unique_year = df_u.year.unique()
    for year in unique_year: 
        df_y = df_u[(df_u.year == year)]
        price_fill = df_y.price_riyals.mean(skipna=True) 
        df_y.price_riyals = df_y.price_riyals.fillna(value = price_fill, method=None)
        #print(district, year, price_fill)
        area_fill = df_y.area_m2[(df_u.year == year)].mean(skipna=True) 
        df_y.area_m2 = df_y.area_m2.fillna(value = area_fill, method=None)
        #print(district, year, area_fill)
        no_deals_fill = df_y.no_deals.mean(skipna=True) 
        df_y.no_deals = df_y.no_deals.fillna(value = no_deals_fill, method=None)
        #print(district, year, no_deals_fill)
        df_u[(df_u.year == year)] = df_y
    df_fill[(df_fill.district == district)] = df_u

In [ ]:
df_fill.to_excel(excel_writer = "m1.xlsx", sheet_name='all', index=False)

In [ ]:
df_fill.info()

In [ ]:
def district_fill_f_b(df_fill, unique_district):
    for district in unique_district: 
        df_u = df_fill[(df_fill.district == district)] 
        df_u.price_riyals = df_u.price_riyals.ffill(axis ='rows')
        df_u.price_riyals = df_u.price_riyals.bfill(axis ='rows')
        #print(district, year, price_fill)
        df_u.area_m2 = df_u.area_m2.ffill(axis ='rows')
        df_u.area_m2 = df_u.area_m2.bfill(axis ='rows')
        #print(district, year, area_fill)
        df_u.no_deals = df_u.no_deals.ffill(axis ='rows')
        df_u.no_deals = df_u.no_deals.bfill(axis ='rows')
        #print(district, year, no_deals_fill)        
    return df_u

In [ ]:
 df_fill[(df_fill.district == district)] = district_fill_f_b(df_fill, unique_district)

In [ ]:
df_fill.info()

In [ ]:
df_u1 = df_fill[(df_fill.city == "المدينة المنورة")]
df_u1.shape

In [ ]:
unique_realstate_cls = df_u1['realstate_cls'].unique()
for realstate_cls in unique_realstate_cls: 
    df_u = df_u1[(df_u1.realstate_cls == realstate_cls)]
    unique_year = df_u.year.unique()
    for year in unique_year: 
        df_y = df_u[(df_u.year == year)]
        price_fill = df_y.price_riyals.mean(skipna=True) 
        df_y.price_riyals = df_y.price_riyals.fillna(value = price_fill, method=None)
        #print(district, year, price_fill)
        area_fill = df_y.area_m2[(df_u.year == year)].mean(skipna=True) 
        df_y.area_m2 = df_y.area_m2.fillna(value = area_fill, method=None)
        #print(district, year, area_fill)
        no_deals_fill = df_y.no_deals.mean(skipna=True) 
        df_y.no_deals = df_y.no_deals.fillna(value = no_deals_fill, method=None)
        #print(district, year, no_deals_fill)
        df_u[(df_u.year == year)] = df_y
    df_u1[(df_u1.realstate_cls == realstate_cls)] = df_u

In [ ]:
df_u1.info()

In [ ]:
def madina_nan(df_u):
    df_u.price_riyals = df_u.price_riyals.ffill(axis ='rows')
    df_u.price_riyals = df_u.price_riyals.bfill(axis ='rows')

    df_u.area_m2 = df_u.area_m2.ffill(axis ='rows')
    df_u.area_m2 = df_u.area_m2.bfill(axis ='rows')

    df_u.no_deals = df_u.no_deals.ffill(axis ='rows')
    df_u.no_deals = df_u.no_deals.bfill(axis ='rows')
    return df_u

In [ ]:
df_u = df_u1[(df_u1.realstate_cls.isna())] 
df_u.head()

In [ ]:
df_u1[(df_u1.realstate_cls.isna())]  = madina_nan(df_u)

In [ ]:
df_u1.info()

In [ ]:
df_fill[(df_fill.city == "المدينة المنورة")] = df_u1

In [ ]:
df_fill.info()

In [ ]:
df_fill.head()

In [ ]:
df_fill['no_deals'] = df_fill['no_deals'].round(decimals = 0)

In [ ]:
df_fill.head()

## Saving the filling data with mean in other format:

In [ ]:
# 1- saving complete dataset with missing values as excel file
df_fill.to_excel(excel_writer = "data/xlsx/all_mean.xlsx", sheet_name='all', index=False)

In [ ]:
# 2- saving complete dataset with missing values as csv file
df_fill.to_csv("data/csv/all_mean.csv", header=True, index=False, encoding='utf_8_sig')

In [ ]:
# 3- saving complete dataset with missing values as json file
with open("data/json/all_mean.json", "w") as write_file:
    json.dump(
        df_fill.to_json(
            orient='records', 
            double_precision=10, 
            force_ascii=False, 
            lines=True, 
            compression='infer', 
            index=True, 
            indent=4), 
        write_file
    )

### Fill empty with fill medain

In [ ]:
df_fill = df.copy()

In [ ]:
df_fill.info()

In [ ]:
for district in unique_district: 
    df_u = df_fill[(df_fill.district == district)]
    unique_year = df_u.year.unique()
    for year in unique_year: 
        df_y = df_u[(df_u.year == year)]
        price_fill = df_y.price_riyals.median(skipna=True) 
        df_y.price_riyals = df_y.price_riyals.fillna(value = price_fill, method=None)
        #print(district, year, price_fill)
        area_fill = df_y.area_m2[(df_u.year == year)].median(skipna=True) 
        df_y.area_m2 = df_y.area_m2.fillna(value = area_fill, method=None)
        #print(district, year, area_fill)
        no_deals_fill = df_y.no_deals.median(skipna=True) 
        df_y.no_deals = df_y.no_deals.fillna(value = no_deals_fill, method=None)
        #print(district, year, no_deals_fill)
        df_u[(df_u.year == year)] = df_y
    df_fill[(df_fill.district == district)] = df_u

In [ ]:
df_fill.info()

In [ ]:
 df_fill[(df_fill.district == district)] = district_fill_f_b(df_fill, unique_district)

In [ ]:
df_fill.info()

In [ ]:
df_u1 = df_fill[(df_fill.city == "المدينة المنورة")]
df_u1.shape

In [ ]:
unique_realstate_cls = df_u1['realstate_cls'].unique()
for realstate_cls in unique_realstate_cls: 
    df_u = df_u1[(df_u1.realstate_cls == realstate_cls)]
    unique_year = df_u.year.unique()
    for year in unique_year: 
        df_y = df_u[(df_u.year == year)]
        price_fill = df_y.price_riyals.median(skipna=True) 
        df_y.price_riyals = df_y.price_riyals.fillna(value = price_fill, method=None)
        #print(district, year, price_fill)
        area_fill = df_y.area_m2[(df_u.year == year)].median(skipna=True) 
        df_y.area_m2 = df_y.area_m2.fillna(value = area_fill, method=None)
        #print(district, year, area_fill)
        no_deals_fill = df_y.no_deals.median(skipna=True) 
        df_y.no_deals = df_y.no_deals.fillna(value = no_deals_fill, method=None)
        #print(district, year, no_deals_fill)
        df_u[(df_u.year == year)] = df_y
    df_u1[(df_u1.realstate_cls == realstate_cls)] = df_u

In [ ]:
df_u1.info()

In [ ]:
df_u = df_u1[(df_u1.realstate_cls.isna())] 
df_u

In [ ]:
df_u1[(df_u1.realstate_cls.isna())]  = madina_nan(df_u)

In [ ]:
df_u1.info()

In [ ]:
df_fill[(df_fill.city == "المدينة المنورة")] = df_u1

In [ ]:
df_fill.info()

In [ ]:
df_fill.head()

In [ ]:
df_fill['no_deals'] = df_fill['no_deals'].round(decimals = 0)

In [ ]:
df_fill.head()

## Saving the filling data with mean in other format:

In [ ]:
# 1- saving complete dataset with missing values as excel file
df_fill.to_excel(excel_writer = "data/xlsx/all_median.xlsx", sheet_name='all', index=False)

In [ ]:
# 2- saving complete dataset with missing values as csv file
df_fill.to_csv("data/csv/all_median.csv", header=True, index=False, encoding='utf_8_sig')

In [ ]:
# 3- saving complete dataset with missing values as json file
with open("data/json/all_median.json", "w") as write_file:
    json.dump(
        df_fill.to_json(
            orient='records', 
            double_precision=10, 
            force_ascii=False, 
            lines=True, 
            compression='infer', 
            index=True, 
            indent=4), 
        write_file
    )

### Fill empty with fill forward and backward

### Fill empty with fill forward

In [ ]:
df_fill = df

In [ ]:
for district in unique_district: 
    df_u = df_fill[(df_fill.district == district)] 
    df_u.price_riyals = df_u.price_riyals.ffill(axis ='rows')
    df_u.price_riyals = df_u.price_riyals.bfill(axis ='rows')
    #print(district, year, price_fill)
    df_u.area_m2 = df_u.area_m2.ffill(axis ='rows')
    df_u.area_m2 = df_u.area_m2.bfill(axis ='rows')
    #print(district, year, area_fill)
    df_u.no_deals = df_u.no_deals.ffill(axis ='rows')
    df_u.no_deals = df_u.no_deals.bfill(axis ='rows')
    #print(district, year, no_deals_fill)
    df_fill[(df_fill.district == district)] = df_u

In [ ]:
df_fill.info()

In [ ]:
df_u1 = df_fill[(df_fill.city == "المدينة المنورة")]
df_u1.shape

In [ ]:
df_u = df_u1[(df_u1.realstate_cls.isna())] 
df_u

In [ ]:
df_u1[(df_u1.realstate_cls.isna())]  = madina_nan(df_u)

In [ ]:
df_fill.info()

In [ ]:
df_fill

## Saving the filling data with mean in other format:

In [ ]:
# 1- saving complete dataset with missing values as excel file
df_fill.to_excel(excel_writer = "data/xlsx/all_forward.xlsx", sheet_name='all', index=False)

In [ ]:
# 2- saving complete dataset with missing values as csv file
df_fill.to_csv("data/csv/all_forward.csv", header=True, index=False, encoding='utf_8_sig')

In [ ]:
# 3- saving complete dataset with missing values as json file
with open("data/json/all_forward.json", "w") as write_file:
    json.dump(
        df_fill.to_json(
            orient='records', 
            double_precision=10, 
            force_ascii=False, 
            lines=True, 
            compression='infer', 
            index=True, 
            indent=4), 
        write_file
    )

### Fill empty with fill forward and backward

### Fill empty with fill backward

In [ ]:
df_fill = df

In [ ]:
for district in unique_district: 
    df_u = df_fill[(df_fill.district == district)] 
    df_u.price_riyals = df_u.price_riyals.bfill(axis ='rows')
    df_u.price_riyals = df_u.price_riyals.ffill(axis ='rows')
    #print(district, year, price_fill)    
    df_u.area_m2 = df_u.area_m2.bfill(axis ='rows')
    df_u.area_m2 = df_u.area_m2.ffill(axis ='rows')
    #print(district, year, area_fill)    
    df_u.no_deals = df_u.no_deals.bfill(axis ='rows')
    df_u.no_deals = df_u.no_deals.ffill(axis ='rows')
    #print(district, year, no_deals_fill)
    df_fill[(df_fill.district == district)] = df_u

In [ ]:
df_fill.info()

In [ ]:
df_u1 = df_fill[(df_fill.city == "المدينة المنورة")]
df_u1.shape

In [ ]:
df_u = df_u1[(df_u1.realstate_cls.isna())] 
df_u

In [ ]:
def madina_nan_b(df_u):
    df_u.price_riyals = df_u.price_riyals.bfill(axis ='rows')
    df_u.price_riyals = df_u.price_riyals.ffill(axis ='rows')    

    df_u.area_m2 = df_u.area_m2.bfill(axis ='rows')
    df_u.area_m2 = df_u.area_m2.ffill(axis ='rows')    

    df_u.no_deals = df_u.no_deals.bfill(axis ='rows')
    df_u.no_deals = df_u.no_deals.ffill(axis ='rows')
    return df_u

In [ ]:
df_u1[(df_u1.realstate_cls.isna())]  = madina_nan_b(df_u)

In [ ]:
df_fill.info()

In [ ]:
df_fill

## Saving the filling data with mean in other format:

In [ ]:
# 1- saving complete dataset with missing values as excel file
df_fill.to_excel(excel_writer = "data/xlsx/all_backward.xlsx", sheet_name='all', index=False)

In [ ]:
# 2- saving complete dataset with missing values as csv file
df_fill.to_csv("data/csv/all_backward.csv", header=True, index=False, encoding='utf_8_sig')

In [ ]:
# 3- saving complete dataset with missing values as json file
with open("data/json/all_backward.json", "w") as write_file:
    json.dump(
        df_fill.to_json(
            orient='records', 
            double_precision=10, 
            force_ascii=False, 
            lines=True, 
            compression='infer', 
            index=True, 
            indent=4), 
        write_file
    )