In [21]:
# Reading an excel file using Python
import numpy as np
import pandas as pd
import json

### final dataset shape 
df_names = ["year", "month", "city", "district", "price_riyals", "area_m2", "no_deals", "status", "realstate_cls", "realstate_type"]

## Makkah al-Mukarramah

In [22]:
# read excel file
df_Dammam_m = pd.read_excel("data/xlsx/Dammam_m.xlsx")
df_Jeddah_m = pd.read_excel("data/xlsx/Jeddah_m.xlsx")
df_Makkah_m = pd.read_excel("data/xlsx/Makkah_m.xlsx")
df_Medina_m = pd.read_excel("data/xlsx/Medina_m.xlsx")
df_Riyadh_m = pd.read_excel("data/xlsx/Riyadh_m.xlsx")

In [23]:
# read excel file
df_Dammam = pd.read_excel("data/xlsx/Dammam.xlsx")
df_Jeddah = pd.read_excel("data/xlsx/Jeddah.xlsx")
df_Makkah = pd.read_excel("data/xlsx/Makkah.xlsx")
df_Medina = pd.read_excel("data/xlsx/Medina.xlsx")
df_Riyadh = pd.read_excel("data/xlsx/Riyadh.xlsx")

### join all extract data for all cities Dammam Jeddah Makkah Medina Riyadh
#### Contain all data have missing values

In [24]:
df = df_Dammam
df = df.append(df_Jeddah)
df = df.append(df_Makkah)
df = df.append(df_Medina)
df = df.append(df_Riyadh)

In [25]:
# check the size of new data
df.shape

(41256, 10)

In [27]:
# check for first five rows
df.head()

,year,month,city,district,price_riyals,area_m2,no_deals,status,realstate_cls,realstate_type
0,2018,مايو,الدمام,حي/1048/ ش د,1055000,2871.08,1,معتمدة,NaN,NaN
1,2018,يناير,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,NaN,NaN
2,2018,مارس,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,NaN,NaN
3,2018,مايو,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,NaN,NaN
4,2018,يونيو,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,NaN,NaN

In [28]:
# current statistics of data 
df.describe(include="all")

,year,month,city,district,price_riyals,area_m2,no_deals,status,realstate_cls,realstate_type
count,41256.000000,41256,41256,40404,4.125600e+04,4.125600e+04,41256.000000,41256,804,660
unique,NaN,12,5,1659,NaN,NaN,NaN,1,3,10
top,NaN,فبراير,مكة المكرمة,حي/الفيحاء,NaN,NaN,NaN,معتمدة,سكني,قطعة أرض
freq,NaN,3800,19496,192,NaN,NaN,NaN,41256,376,144
mean,2019.500000,NaN,NaN,NaN,1.039169e+07,1.316392e+04,10.487808,NaN,NaN,NaN
std,1.118048,NaN,NaN,NaN,5.559905e+07,1.481333e+05,57.155130,NaN,NaN,NaN
min,2018.000000,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000,NaN,NaN,NaN
25%,2018.750000,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000,NaN,NaN,NaN
50%,2019.500000,NaN,NaN,NaN,2.800000e+05,2.512350e+02,1.000000,NaN,NaN,NaN
75%,2020.250000,NaN,NaN,NaN,3.452188e+06,2.237617e+03,4.000000,NaN,NaN,NaN
max,2021.000000,NaN,NaN,NaN,3.000000e+09,1.361769e+07,1636.000000,NaN,NaN,NaN

In [29]:
# current datatype of data 
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41256 entries, 0 to 8051
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            41256 non-null  int64
 1   month           41256 non-null  object
 2   city            41256 non-null  object
 3   district        40404 non-null  object
 4   price_riyals    41256 non-null  int64
 5   area_m2         41256 non-null  float64
 6   no_deals        41256 non-null  int64
 7   status          41256 non-null  object
 8   realstate_cls   804 non-null    object
 9   realstate_type  660 non-null    object
dtypes: float64(1), int64(3), object(6)
memory usage: 3.5+ MB

## Cleaning process

In [32]:
# fill none value with zeros
df['realstate_cls'] = df['realstate_cls'].fillna('')
df['realstate_type'] = df['realstate_type'].fillna('')

In [33]:
# current datatype of data 
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41256 entries, 0 to 8051
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            41256 non-null  int64
 1   month           41256 non-null  object
 2   city            41256 non-null  object
 3   district        40404 non-null  object
 4   price_riyals    41256 non-null  int64
 5   area_m2         41256 non-null  float64
 6   no_deals        41256 non-null  int64
 7   status          41256 non-null  object
 8   realstate_cls   41256 non-null  object
 9   realstate_type  41256 non-null  object
dtypes: float64(1), int64(3), object(6)
memory usage: 3.5+ MB

### Rearranging dataset in final shape
#### information with no missing values

In [34]:
# if price equal to zero and
#    area equal to zero and
#    number of deals equal to zero then drop those rows
df_m = df[(df.price_riyals > 0) & (df.area_m2 > 0) & (df.no_deals > 0)]

In [35]:
# check the modification
df_m.head()

,year,month,city,district,price_riyals,area_m2,no_deals,status,realstate_cls,realstate_type
0,2018,مايو,الدمام,حي/1048/ ش د,1055000,2871.08,1,معتمدة,,
5,2018,يوليو,الدمام,حي/1093 ش د,2090155,2396.50,8,معتمدة,,
8,2018,اكتوبر,الدمام,حي/1093 ش د,13613265,15608.50,47,معتمدة,,
11,2018,مارس,الدمام,حي/1168/ ش د,4000000,6000.00,3,معتمدة,,
12,2018,يونيو,الدمام,حي/1168/ ش د,10672400,27908.80,6,معتمدة,,

In [13]:
# if any other columns has missing values drop this column
#df_m = df_m.dropna(axis='columns')

In [36]:
# check the modification
df_m.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22371 entries, 0 to 8043
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   year            22371 non-null  int64
 1   month           22371 non-null  object
 2   city            22371 non-null  object
 3   district        21858 non-null  object
 4   price_riyals    22371 non-null  int64
 5   area_m2         22371 non-null  float64
 6   no_deals        22371 non-null  int64
 7   status          22371 non-null  object
 8   realstate_cls   22371 non-null  object
 9   realstate_type  22371 non-null  object
dtypes: float64(1), int64(3), object(6)
memory usage: 1.9+ MB

### Replace month name from arabic to number
list_month = [1, 'January', 31,
              2, 'February', 28,
              3,'March',31,
              4,'April',30,
              5,'May',31,
              6,'June',30,
              7,'July',31,
              8,'August',31,
              9,'September',30,
              10,'October',31,
              11,'November',30,
              12,'December',31]

In [37]:
# list of arabic months
months_names = [
    'يناير',
    'فبراير',
    'مارس',
    'ابريل',
    'مايو',
    'يونيو',
    'يوليو',
    'اوغسطس',
    'سبتمبر',
    'اكتوبر',
    'نوفمبر',
    'ديسمبر'
]

In [55]:
# set counter to 1
i = 1
df_fill = df
df_fill['month_order'] = df.month

In [56]:
df_fill.head()

,year,month,city,district,price_riyals,area_m2,no_deals,status,realstate_cls,realstate_type,month_order
0,2018,مايو,الدمام,حي/1048/ ش د,1055000,2871.08,1,معتمدة,,,مايو
1,2018,يناير,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,,,يناير
2,2018,مارس,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,,,مارس
3,2018,مايو,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,,,مايو
4,2018,يونيو,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,,,يونيو

In [57]:
# loop for each month and create a new column month_order to corresponding month order
for month in months_names: 
    if i > 12: break 
    df_fill.month_order[df_fill.month_order == month] = i       
    i = i + 1

C:\Users\m\AppData\Local\Temp/ipykernel_13680/1598767848.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fill.month_order[df_fill.month_order == month] = i

In [58]:
#check for result
df_fill.month_order.unique()

array([5, 1, 3, 6, 7, 8, 9, 10, 12, 2, 4, 11], dtype=object)

In [59]:
df_fill.head()

,year,month,city,district,price_riyals,area_m2,no_deals,status,realstate_cls,realstate_type,month_order
0,2018,مايو,الدمام,حي/1048/ ش د,1055000,2871.08,1,معتمدة,,,5
1,2018,يناير,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,,,1
2,2018,مارس,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,,,3
3,2018,مايو,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,,,5
4,2018,يونيو,الدمام,حي/1093 ش د,0,0.00,0,معتمدة,,,6

In [60]:
df_fill.replace(0, np.nan)

,year,month,city,district,price_riyals,area_m2,no_deals,status,realstate_cls,realstate_type,month_order
0,2018,مايو,الدمام,حي/1048/ ش د,1055000.0,2871.08,1.0,معتمدة,,,5
1,2018,يناير,الدمام,حي/1093 ش د,NaN,NaN,NaN,معتمدة,,,1
2,2018,مارس,الدمام,حي/1093 ش د,NaN,NaN,NaN,معتمدة,,,3
3,2018,مايو,الدمام,حي/1093 ش د,NaN,NaN,NaN,معتمدة,,,5
4,2018,يونيو,الدمام,حي/1093 ش د,NaN,NaN,NaN,معتمدة,,,6
...,...,...,...,...,...,...,...,...,...,...,...
8047,2021,اوغسطس,الرياض,حي/هيت,NaN,NaN,NaN,معتمدة,,,8
8048,2021,سبتمبر,الرياض,حي/هيت,NaN,NaN,NaN,معتمدة,,,9
8049,2021,اكتوبر,الرياض,حي/هيت,NaN,NaN,NaN,معتمدة,,,10
8050,2021,نوفمبر,الرياض,حي/هيت,NaN,NaN,NaN,معتمدة,,,11
8051,2021,ديسمبر,الرياض,حي/هيت,NaN,NaN,NaN,معتمدة,,,12

In [ ]:
.replace(0,df['a'].mean())

In [ ]:
df_g = df.groupby(by=['realstate_cls', 'realstate_type'])

In [ ]:
df.sort_values(
    by=['realstate_cls', 'realstate_type', 'year', 'month_order'], 
    axis=0, 
    ascending=True, 
    inplace=False, 
    kind='quicksort', 
    na_position='last', 
    ignore_index=False, 
    key=None
).to_excel(excel_writer = "Medina.xlsx", sheet_name='Medina', index=False)

## Saving the cleaning data in other format:
#### Complete information with missing values

In [15]:
# 1- saving complete dataset with missing values as excel file
df.to_excel(excel_writer = "data/xlsx/all.xlsx", sheet_name='all', index=False)

In [16]:
# 2- saving complete dataset with missing values as csv file
df.to_csv("data/csv/all.csv", header=True, index=False, encoding='utf_8_sig')

In [17]:
# 3- saving complete dataset with missing values as json file
with open("data/json/all.json", "w") as write_file:
    json.dump(
        df.to_json(
            orient='records', 
            double_precision=10, 
            force_ascii=False, 
            lines=True, 
            compression='infer', 
            index=True, 
            indent=4), 
        write_file
    )

## Saving the cleaning data in other format:
#### Information with no missing values

In [18]:
# 1- saving dataset with no missing values as excel file
df_m.to_excel(excel_writer = "data/xlsx/all_m.xlsx", sheet_name='all', index=False)

In [19]:
# 2- saving dataset with no missing values as csv file
df_m.to_csv("data/csv/all_m.csv", header=True, index=False, encoding='utf_8_sig')

In [20]:
# 3- saving dataset with no missing values as json file
with open("data/json/all_m.json", "w") as write_file:
    json.dump(
        df_m.to_json(
            orient='records', 
            double_precision=10, 
            force_ascii=False, 
            lines=True, 
            compression='infer', 
            index=True, 
            indent=4), 
        write_file
    )